nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 25px;
}

.nav-links li {
    display: inline-block;
}

.nav-links li:not(:first-of-type) {
    margin-left: 25px;
}

li a {
    text-decoration: none;
    color: black;
}

.nav-disable {
    display: none;
}

@media screen and (max-width: 900px) {
    .nav-disable{
        display: block;
    }

    nav {
        margin: 0 50px;
    }

    #menu {
        display: none;
    }

    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #bbb;
        border-radius: 5px;
        padding: 10px 15px;
        right: 0px;
        top: 45px;
        font-weight: bold;
    }

    .nav-links li:not(:first-of-type) {
        margin-left: 0;
    }

    .nav-links li:not(:last-of-type) {
        margin-bottom: 5px;
    }

    
}